<section class="text-left education-data mt-4">

  <br>

  <span>
    <h1>Programador web full-stack: </h1>
    <h2>
      <strong>Educación IT</strong> (2016 - 2017)
    </h2>
  </span>

  <br>

  <span>
    <h1>Producción y dirección de radio y TV: </h1>
    <h2>
      <strong>I.S.E.C</strong> (2007 - 2009)
    </h2>
  </span>

  <br>

  <span>
    <h1>Secundario: </h1>
    <h2>
      Instituto
      <strong>Lasalle </strong> San Martín
    </h2>
  </span>

  <br>

  <span>
    <h1>Formación adicional: </h1>
    <h2>
      Lic. Rabinovich: coaching de
      <strong>liderazgo y capacitación</strong>
    </h2>
    <h2>
      Udemy:
      <strong>Angular</strong> - De cero a experto creando aplicaciones
    </h2>
    <h2>
      Udemy:
      <strong>Angular</strong> - Build Enterprise Applications with Angular 2
    </h2>
  </span>

</section>