<section class="text-left experience-data mt-4">

  <br>

  <article>
    <h1>Agosto 2017 - Actualidad</h1>

    <h4>Proyectos principales: </h4>

    <br>

    <h4>Arreglo de bugs para la web de la agencia de viajes
      <strong>Glove Travel (Front-end)</strong>
    </h4>

    <br>

    <h4>Software para la imprenta del
      <strong> Gobierno de la Ciudad de Bs.As. (Full-stack)</strong>
    </h4>

    <br>

    <h4>Desarrollo web para la empresa
      <strong>Office Cook (Front-end)</strong> 
    </h4>
  </article>

  <br>

  <article>
    <h1>Agosto 2016 - Agosto 2017</h1>
    <h4>
      <strong>Freelance</strong>
    </h4>
    <h4>Proyectos principales: </h4>

    <br>

    <h4>Desarrollo de plataforma (web + back-office) para la inmobiliaria <strong>Horacio E. Acosta</strong></h4>
    <a href="https://horacioeacosta.com/" target="_blank">
      <h4>
        <strong>www.horacioeacosta.com</strong>
      </h4>
    </a>

    <br>

    <h4>Página web para la compañía de instalaciones eléctricas
      <strong> Electrical Solutions</strong>
    </h4>
    <a href="https://electricalsolutions.com.ar/" target="_blank">
      <h4>
        <strong>www.electricalsolutions.com.ar</strong>
      </h4>
    </a>

  </article>

</section>