<section class="text-left abilities-data mt-4">

  <br>
  <div *ngIf="titles">
    <span (click)="generateChart('database')">
      <h2> <strong>Bases de datos</strong> </h2>
    </span>
    <span (click)="generateChart('repository')">
      <h2> Herramientas de <strong>versionado</strong> </h2>
    </span>
    <span (click)="generateChart('os')">
      <h2> <strong>OS</strong> </h2>
    </span>
    <span (click)="generateChart('ide')">
      <h2> <strong>IDE</strong>'s </h2>
    </span>
    <span (click)="generateChart('layout')">
      <h2> Lenguajes de <strong>maquetado</strong> </h2>
    </span>
    <span (click)="generateChart('frontend')">
      <h2> Lenguajes <strong>front-end</strong> </h2>
    </span>
    <span (click)="generateChart('backend')">
      <h2> Lenguajes <strong>back-end</strong> </h2>
    </span>
    <span (click)="generateChart('frontFramework')">
      <h2> Frameworks <strong>front-end</strong> </h2>
    </span>
    <span (click)="generateChart('backFramework')">
      <h2> Frameworks <strong>back-end</strong> </h2>
    </span>
    <span (click)="generateChart('layoutFramework')">
      <h2> Frameworks de <strong>maquetado</strong> </h2>
    </span>
    <span (click)="generateChart('testing')">
      <h2> Herramientas de <strong>testing</strong> </h2>
    </span>
    <span (click)="generateChart('design')">
      <h2> Herramientas de <strong>diseño</strong> </h2>
    </span>
    <span (click)="generateChart('working')">
      <h2> Herramientas de oficina y <strong>metodologías ágiles</strong> </h2>
    </span>
        <span (click)="generateChart('learning')">
          <h2> ¿Qué estoy <strong>aprendiendo</strong>? </h2>
        </span>
  </div>

  <div *ngIf="database">
    <h4> Base de datos </h4>
    <i class="devicon-mongodb-plain logos"></i>
    <i class="devicon-mysql-plain logos"></i>
  </div>
  <div *ngIf="repository">
    <h4> Repositorios y versionado </h4>
    <i class="devicon-git-plain logos"></i>
  </div>
  <div *ngIf="os">
    <h4> OS </h4>
    <i class="devicon-linux-plain logos"></i>
    <i class="devicon-windows8-original logos"></i>
  </div>
  <div *ngIf="ide">
    <h4> IDEs </h4>
    <i class="devicon-atom-original logos"></i>
    <i class="devicon-intellij-plain logos"></i>
    <i class="devicon-visualstudio-plain logos"></i>
  </div>
  <div *ngIf="layout">
    <h4> Lenguajes maquetado </h4>
    <i class="devicon-css3-plain logos"></i>
    <i class="devicon-html5-plain logos"></i>
  </div>
  <div *ngIf="frontend">
    <h4> Lenguajes front </h4>
    <i class="devicon-javascript-plain logos"></i>
    <i class="devicon-typescript-plain logos"></i>
  </div>
  <div *ngIf="backend">
    <h4> Lenguajes back </h4>
    <i class="devicon-php-plain logos"></i>
    <i class="devicon-java-plain logos"></i>
    <i class="devicon-csharp-plain logos"></i>
  </div>
  <div *ngIf="frontFramework">
    <h4> Frameworks front </h4>
    <i class="devicon-angularjs-plain logos"></i>
    <i class="devicon-jquery-plain logos"></i>
  </div>
  <div *ngIf="backFramework">
    <h4> Frameworks back </h4>
    <i class="devicon-laravel-plain logos"></i>
    <i class="devicon-codeigniter-plain logos"></i>
  </div>
  <div *ngIf="layoutFramework">
    <h4> Frameworks maquetado </h4>
    <i class="devicon-bootstrap-plain logos"></i>
  </div>
  <div *ngIf="testing">
    <h4> Testing </h4>
    <i class="devicon-jasmine-plain logos"></i>
    <i class="devicon-protractor-plain logos"></i>
  </div>
  <div *ngIf="design">
    <h4> Herramientas de diseño </h4>
    <i class="devicon-photoshop-plain logos"></i>
  </div>
  <div *ngIf="learning">
    <h4> Aprendiendo </h4>
    <i class="devicon-react-original logos"></i>
    <i class="devicon-sass-original logos"></i>
    <i class="devicon-nodejs-plain logos"></i>
  </div>
  <div *ngIf="working">
    <h4> Herramientas laborales </h4>
    <i class="devicon-slack-plain logos"></i>
    <i class="devicon-trello-plain logos"></i>
  </div>

  <canvas id="chart" width="400" height="200"></canvas>
  <button class="btn btn-default btn-md" (click)="back()" *ngIf="!titles">Volver</button>
  
</section>