<header class="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="container-fluid">

  <div class="row">

    <section class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 vertical-header">

      <header class="text-center mt-5">
        <h1 class="title">Cristian Etchebarne</h1>
      </header>

      <article class="text-center mt-5">
        <figure class="figure-change">
          <img src="../assets/cv_personal.png" alt="Cristian Etchebarne" class="cv-image rounded-circle img-responsive">
          <span (click)="changeProgrammer()"><h3 class="programmer">Programador Web Full-Stack</h3></span>
        </figure>
      </article>

      <article class="text-center mt-5 information-titles">
        <span (click)="changePersonalData()"><h3 class="personalData">Datos personales</h3></span>
        <br>
        <span (click)="changeEducation()"><h3 class="education">Educación</h3></span>
        <br>
        <span (click)="changeExperience()"><h3 class="experience">Experiencia</h3></span>
        <br>
        <span (click)="changeAbilities()"><h3 class="abilities">Habilidades</h3></span>
        <br>
        <span (click)="changeInterests()"><h3 class="interests">Intereses</h3></span>
      </article>

    </section>
    <section class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
      <div class="text-center spinner" *ngIf="loading">
        <app-fingerprint-spinner [animationDuration]="1500" [size]="150" [color]="'#5bd0a5'" class="spinner"></app-fingerprint-spinner>
      </div>
        
      <app-personal-data *ngIf="personalData"></app-personal-data>
      <app-education *ngIf="education"></app-education>
      <app-experience *ngIf="experience"></app-experience>
      <app-abilities *ngIf="abilities"></app-abilities>
    </section>

  </div>
</main>