<section class="text-left personal-data mt-4">

  <br>

  <span>
    <h1>Nombre: </h1>
    <h2>
      <strong>Cristian</strong> Martín
      <strong>Etchebarne</strong> Iglesias</h2>
  </span>

  <br>

  <span>
    <h1>Edad: </h1>
    <h2><strong>31</strong> años</h2>
  </span>

  <br>

  <span>
    <h1>Ubicación: </h1>
    <h2><strong>San Andrés</strong>, General San Martín, <strong>Buenos Aires</strong>, Argentina</h2>
  </span>

  <br>

  <span>
    <h1>Fecha de nacimiento: </h1>
    <h2><strong>13/02/1987</strong></h2>
  </span>

  <br>

  <span>
    <h1>E-Mail/Skype/Hangouts: </h1>
    <h2><strong>cristianmetchebarne</strong>@gmail.com</h2>
  </span>

</section>