body {
    background: url(assets/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.mt-4 {
    margin-top: 8% !important;
}

.mt-5 {
    margin-top: 15% !important;
}

.spinner {
    margin-left: 50%;
    margin-top: 15%;
}

.vertical-header {
    background: rgba(224, 207, 189, 0.5);
    background: linear-gradient(rgba(224, 207, 189, 0.2), rgba(0, 0, 0, 1));
    height: 100vh;
}

.vertical-header:hover {
    background-color: rgba(224, 207, 189, 0.6);
    -webkit-transition: background-color 500ms ease-out 0.5s;
    -moz-transition: background-color 500ms ease-out 0.5s;
    -o-transition: background-color 500ms ease-out 0.5s;
    transition: background-color 500ms ease-out 0.5s;
}

.title {
    color: white;
    font-family: "Amatic SC", cursive;
}

.cv-image {
    width: 60%;
    border: 5px solid #FFC082;
    transition: all ease 1s;
}

.cv-image:hover {
    width: 65%;
    border: 1px solid white;
    transition: all ease-out 1s;
}

h3 {
    color: white;
    font-family: "Amatic SC", cursive;
    font-weight: 200;
}

h3:hover {
    color: #5bd0a5;
    animation: jello 1s;
    transition: all 0.5s ease;
    cursor: pointer;
}

.experience-data a:link {
    color: black;
    text-decoration: none;
}

.experience-data a:visited {
    color: black;
    text-decoration: none;
}

.experience-data a:hover {
    color: #5bd0a5;
    text-decoration: none;
}

.experience-data a:active {
    color: black;
    text-decoration: none;
}

.navbar {
    display: none;
}

@media screen and (max-width: 479px) {
    .vertical-header {
        display: none;
    }
    .navbar {
        display: block;
    }
}

.personal-data, .education-data, .experience-data, .abilities-data {
    font-family: 'Poiret One', cursive;
}